In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# import pycharts
import pymysql

In [2]:
conn = pymysql.connect(	
    host = 'localhost',	
    user = 'root',	
    passwd = '123456',	
    db = 'scrapy_django',	
    port=3306,	
    charset = 'utf8'	
)
df = pd.read_sql('select * from Weather',conn)
df.head()

DatabaseError: Execution failed on sql 'select * from Weather': (1146, "Table 'scrapy_django.weather' doesn't exist")

In [1]:
from loguru import logger

logger.debug("That's it, beautiful and simple logging!")

logger.add("nppa_new_{time}.log")

2021-03-21 15:27:16.898 | DEBUG    | __main__:<module>:3 - That's it, beautiful and simple logging!

In [3]:
logger.error("something wrong")

2021-03-21 15:27:45.494 | ERROR    | __main__:<module>:1 - something wrong